.center-title {
    text-align: center;
    color: red;
}

.result-container {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}